.u-section-1 {
  min-height: 1136px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 337px);
  height: 268px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 485px);
  height: 304px;
  margin: 120px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -654px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1 .u-image-1 {
  width: 426px;
  height: 426px;
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
  margin: -59px -12px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px 30px 65px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 85px 35px 0 -34px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px -34px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 595px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 487px;
  background-image: url("images/EBT-L-FRIPROTEST-0606-7.jpg");
  background-position: 50% 50%;
  height: 487px;
  margin: -32px auto 0 -11px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 978px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 337px);
  }

  .u-section-1 .u-shape-2 {
    width: 406px;
    height: 334px;
    margin-top: 131px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -723px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 379px;
    height: 379px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 491px;
  }

  .u-section-1 .u-image-2 {
    width: 455px;
    height: 455px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1587px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 337px);
    margin-top: 89px;
  }

  .u-section-1 .u-shape-2 {
    width: 510px;
    margin-top: 748px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1369px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 752px;
  }

  .u-section-1 .u-image-2 {
    width: 442px;
    height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1634px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 337px);
    margin-top: 60px;
  }

  .u-section-1 .u-shape-2 {
    width: 468px;
    margin-top: 858px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1428px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 564px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1499px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 235px);
    height: 253px;
  }

  .u-section-1 .u-shape-2 {
    width: 307px;
    height: 270px;
    margin-top: 806px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1308px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 355px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 989px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 912px;
  margin: 68px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px;
}

.u-section-2 .u-shape-1 {
  width: 675px;
  height: 483px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 667px;
  height: 483px;
  margin: -543px auto 0 -60px;
}

.u-section-2 .u-group-1 {
  min-height: 245px;
  width: 387px;
  height: auto;
  margin: -436px -60px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.4375rem;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 350px;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 170px 0 50px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-3 {
    padding-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 30px 0;
  }

  .u-section-2 .u-shape-1 {
    height: 405px;
    margin-top: 95px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 637px;
    height: 471px;
    margin-top: -530px;
    margin-left: -30px;
  }

  .u-section-2 .u-group-1 {
    min-height: 307px;
    width: 349px;
    margin-top: -411px;
    margin-right: -30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 296px;
    width: 489px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 460px;
    height: 355px;
    margin-top: -422px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 268px;
    width: 279px;
    margin-top: -301px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    height: 268px;
    width: 298px;
  }

  .u-section-2 .u-image-1 {
    width: 310px;
    height: 352px;
    object-position: 13.96% 50%;
    background-position: 13.96% 50%;
    margin-top: -393px;
  }

  .u-section-2 .u-group-1 {
    min-height: 206px;
    width: 209px;
    margin-top: -263px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}