.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 42px auto 0 -32px;
  padding: 4px 21px 5px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -33px -39px 0 auto;
  padding: 4px 21px 5px;
}

.u-section-1 .u-form-1 {
  height: 614px;
  margin: 10px 346px 0 224px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -209px auto 0 809px;
  padding: 8px 26px 8px 25px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 52px auto 60px 809px;
  padding: 8px 26px 8px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 124px;
    margin-right: 246px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 609px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 609px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 14px;
    margin-right: 136px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 389px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 209px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 9px;
  }
}